#build-progress {
  .work-status {
    background: url("../images/build-progress/1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    .work-status-inner {
      padding-left: var(--page-inner-offset);
      padding-right: var(--page-inner-offset);
      padding-top: 70px;
      padding-bottom: 70px;

      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  .work-status__text-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .work-status__text-left, .work-status__text-right {
    width: 50%;
  }

  .work-status__text-left{
    padding-right: var(--inner-margin);
  }

  .work-status__text-right{
    padding-left: var(--inner-margin);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .col {
      padding-right: 0;
      padding-left: 0;

      .block {
        &:first-child {
          margin-bottom: 15px;
        }

        .work-status__text {
          margin-left: 20px;
        }
      }
    }
  }

  .block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .svg-wrapper{
    position: relative;
    height: 65px;
    width: 65px;

    .btn-circle {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(90deg);

      .circle-build {
        stroke: $main-green;
        stroke-dasharray: 450, 150;
      }

      .circle-facade {
        stroke: $main-green;
        stroke-dasharray: 150, 450;
      }

      .circle-landscaping {
        stroke: $main-green;
        stroke-dasharray: 350, 250;
      }

      .circle-network {
        stroke: $main-green;
        stroke-dasharray: 100, 500;
      }

      .circle {
        stroke: rgba(255, 255, 255, 0.1);
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
      }
    }

    .work-status-absolute {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .work-status__title {
    @include tenor(20px, 100%, left, normal, none, $w);
  }

  .work-status__text {
    @include HelveticaNeueCyr(14px, 170%, left, none, $w, 400);
  }

  .button {
    margin-top: 0;

    span {
      color: $w;
    }

    .btn-svg {
      stroke: $w;
    }
  }

  .work-status__section-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;

    &__block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .work-status__title{
        margin-bottom: 10px;
      }
    }
  }

  .work-status__cards {
    position: relative;

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;

      .card__wrapper {
        width: 50%;
        margin-bottom: 50px;

        .card {
          cursor: pointer;

          .block-info-text {
            text-align: right;
            margin-bottom: 20px;
          }
        }

        &:nth-child(odd) {
          padding-right: var(--inner-margin);
        }

        &:nth-child(even) {
          padding-left: var(--inner-margin);
        }
      }
    }
  }

  .button-load {
    margin-top: 50px;
    width: max-content;

    a {
      @include hover-color;
      @include tenor(18px, 100%, center, 0.05em, uppercase, $main-brown);

      display: flex;
      align-items: center;
      justify-content: center;

      .btn-svg {
        fill: transparent;
        stroke: $main-green;
        width: 20px;
        height: 50px;
        margin-left: 15px;

        use {
          transform: translateY(-10px);
          transition: transform .3s ease-in-out;
        }
      }

      &:hover {
        .btn-svg {
          use {
            transform: translateY(0);
            transition: transform .3s ease-in-out;
          }
        }
      }
    }
  }
}

.build-progress-popup {
  background: $light-grey;
  height: 100vh;
  width: 100vw;
  padding-top: var(--header-h-2);
  padding-left: 50px;
  padding-right: 50px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .popup__right, .popup__left {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
  }

  .popup__right {
    align-items: flex-end;
    justify-content: space-between;
  }

  .popup__left {
    align-items: flex-start;
    justify-content: start;
  }

  .popup__center {
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .popup__close {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;

    .popup__close-icon {
      position: relative;
      border: 1px solid #ECEDEF;
      border-radius: 200px;
      height: 46px;
      width: 46px;

      margin-left: 20px;

      span {
        content: '';
        background: #555568;
        height: 2px;
        width: 20px;

        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%) rotate(45deg);

        &:nth-child(2){
          transform: translate(50%, -50%) rotate(-45deg);
        }
      }
    }
  }

  .popup__bth {
    display: flex;
    flex-direction: column;

    a {
      svg {
        fill: $main-green;
        height: 50px;
        width: 50px;

        &:last-child {
          margin-top: 20px;
        }

        use {
          stroke: $w;
        }
      }
    }
  }

  .block-info-text {
    margin-top: 15px;
    font-size: 18px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .mySwiper2 {
    height: 100%;
    width: 100%;
  }

  .mySwiper {
    box-sizing: border-box;

    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

    height: 80px;

    .swiper-slide {
      opacity: 0.4;

      img {
        object-fit: contain;
      }
    }
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
}

