#developer {
  .info-top-wrapper {
    border-bottom: 1px solid #ECEDEF;

    a {
      width: 120px;

      @include to(768px) {
        width: 80px;
      }
    }

    .tenor-title {
      margin-bottom: 50px;
    }
  }

  .developer-projects {
    .tenor-title {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  .developer-projects__swipper {
    position: relative;
  }

  .swiper {
    overflow: hidden;

    @include to(768px) {
      margin: 0 50px;
    }
  }

  .swiper-slide {

    a img {
      height: 40px;

      @include to(768px) {
        height: 30px;
      }
    }

    a .bristol-img {
      height: 60px;

      @include to(768px) {
        height: 50px;
      }
    }
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-button-prev, .swiper-button-next {
    border: 1px solid #ECEDEF;
    border-radius: 200px;
    height: 50px;
    width: 50px;

    &:after {
      content: none;
    }
  }

  .swiper-button-prev {
    left: -100px;
    background-image: url("../images/icons/prev.svg");
    background-position: center;
    background-repeat: no-repeat;

    @include to(992px) {
      left: -50px;
    }

    @include to(768px) {
      left: 0;
    }
  }

  .swiper-button-next {
    right: -100px;
    background-image: url("../images/icons/next.svg");
    background-position: center;
    background-repeat: no-repeat;

    @include to(992px) {
      right: -50px;
    }

    @include to(768px) {
      right: 0;
    }
  }
}
