#documents {

  .documets-block__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include to(820px) {
      flex-direction: column;

      .col {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
      }

      .col:first-child .document:last-child {
        margin-bottom: 30px;
      }
    }

    .document {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      border-bottom: 1px solid #E8E8E8;
      padding-bottom: 30px;
      margin-bottom: 30px;

      height: 120px;

      @include from(1600px) {
        height: 160px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      img {
        height: 90px;
        width: 65px;
      }

      .text {
        text-align: left;
        margin-left: 30px;
        margin-bottom: 0;
      }
    }
  }
}
