#id-page-gallery .moving-arrow{
  @include to(992px) {
    display: none;
  }
}

#gallery .page-inner-offset5 {
  position: relative;

  .swiper-container {
    overflow: visible;
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
    top: 5%;
    height: 60px;
    width: 60px;

    &:after {
      display: none;
    }

    @include to(992px) {
      display: block;
    }

    @include to(820px) {
      top: 4%;
    }

    @include to(575px) {
      height: 40px;
      width: 40px;
    }
  }

  .swiper-button-prev {
    right: 17%;
    left: auto;
    background: url("../images/icons/gallery-btn-prev.svg") center center / contain no-repeat;

    @include to(820px) {
      right: 12%;
    }

    @include to(425px) {
      right: 18%;
    }
  }

  .swiper-button-next {
    right: var(--header-padding);
    background: url("../images/icons/gallery-btn-next.svg") center center / contain no-repeat;
  }

  .swiper-slide:last-child {
    .slide__content img {
      padding-right: var(--header-padding);
    }
  }

  .swiper-wrapper {
    height: 60vh;

    .slide__content {
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.gallery-slider__wrap {
  @include from(1600px) {
    cursor: pointer;
  }
}

.gallery-slide {
  position: relative;
  height: 100%;
}

.moving-arrow {
  position: fixed;
  left: 0;
  top: 0;
  will-change: left, top;

  z-index: 10;
  opacity: 0;

  .arrow-style {
    transition: transform .3s ease-in-out;
    height: 70px;
    width: 70px;
    fill: transparent;

    @include from(1600px) {
      height: 100px;
      width: 100px;
    }
  }

  &.left-side {
    .arrow-style{
      transition: transform .3s ease-in-out;
      transform: rotate(-180deg);
    }
  }
}
