.gallery-slide {
  position: relative;
  height: 100%;
}

.moving-arrow {
  position: fixed;
  left: 0;
  top: 0;
  will-change: left, top;

  z-index: 10;
  opacity: 0;

  .arrow-style {
    transition: transform .3s ease-in-out;
    height: 70px;
    width: 70px;
    fill: transparent;
  }

  &.left-side {
    .arrow-style{
      transition: transform .3s ease-in-out;
      transform: rotate(-180deg);
    }
  }
}
