.promo, .video, .garden, .aesthetics, .infrastructure, .location, .apartments, .card, .info, .connection{
  position: relative;
}

.ecological__content {
  @include to(768px) {
    margin-bottom: 200px;
    margin-top: 100px;
  }

  @include to(575px) {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.garden__content {
  @include to(768px) {
    margin-top: 0;
    margin-bottom: 200px;
  }

  @include to(575px) {
    margin-bottom: 50px;
  }
}

.aesthetics__content, .location__content, .apartments__content {
  @include to(768px) {
    margin-top: 0;
    margin-bottom: 100px;
  }
  @include to(575px) {
    margin-bottom: 50px;
  }
}

.infrastructure__content {
  @include to(768px) {
    margin-bottom: 250px;
  }
  @include to(575px) {
    margin-bottom: 150px;
  }
}

.garden__image img {
  @include to(768px) {
    height: 600px;
    object-fit: cover;
  }

  @include to(575px) {
    height: 450px;
  }
}

.ecological__image img, .aesthetics__image img, .infrastructure__image img {
  @include to(768px) {
    height: 477px;
    object-fit: cover;
  }

  @include to(575px) {
    height: 280px;
  }
}

.garden, .aesthetics, .location, .apartments, .happiness {
  @include to(768px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.promo {
  height: 95vh;
  width: 100%;
  background-color: $w;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);
  }

  &__group {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background: url("../images/icons/Group.svg") center center / contain no-repeat;
    width: 272px;
    height: 264px;
  }
}

.promo__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  li {
    margin-right: 50px;
    @include HelveticaNeueCyr(14px, 170%, center, uppercase, $main-brown, 400);

    &:last-child {
      margin-right: 0;
    }
  }

  @include to(768px){
    max-width: 60%;

    li {
      margin-right: 0;

      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        margin-top: 20px;
      }
    }
  }

  @include to(575px) {
    max-width: 70%;
    flex-direction: column;

    li {
      font-size: 12px;
      margin-top: 10px;

      &:first-child {
        margin-right: 0;
      }

      &:last-child {
        margin-top: 10px;
      }
    }
  }
}

.video {
  width: 100%;
  height: 600px;

  @include to(575px) {
    height: 450px;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  //&__button {
  //  position: absolute;
  //  left: 50%;
  //  bottom: 50px;
  //  transform: translateX(-50%);
  //
  //  svg {
  //    height: 50px;
  //    width: 50px;
  //    margin-left: 20px;
  //  }
  //}

  &__pattern {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 17%;
    transform: translateY(50%);
    background: url("../images/icons/Pattern-1.svg") center center / contain no-repeat;
    width: 200px;
    height: 197px;
  }
}

.garden__pattern {
  position: absolute;
  bottom: -5%;
  left: 0;
  background: url("../images/icons/Pattern-2.svg") center center / contain no-repeat;
  width: 133px;
  height: 232px;
}

.infrastructure__pattern {
  position: absolute;
  top: -150px;
  left: 75%;
  z-index: -1;
  background: url("../images/icons/Pattern-3.svg") center center / contain no-repeat;
  transform: translateX(-50%);
  width: 200px;
  height: 192px;
}

.concept {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background: url("../images/img/concept.jpg") center center / cover no-repeat;

  @include to(768px){
    grid-template-columns: repeat(1, 100%);
    padding-top: 100px;
    padding-bottom: 120px;
  }

  @include to(575px) {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  &__title {
    @include cormorant (96px, 100%, left, 0.05em, uppercase, $w);

    display: flex;
    align-self: center;
    margin-left: var(--left-right-margin);

    @include to(575px) {
      font-size: 42px;
      max-width: 70%;
    }
  }

  &__items {
    margin: 15% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 90px;

    @include to(768px) {
      margin: 100px 0 0 var(--left-right-margin);
      grid-row-gap: 40px;
    }

    @include to(575px) {
      margin: 20px 0 0 var(--left-right-margin);
      grid-row-gap: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-numbers {
      @include tenor (48px, 120%, left, normal, none, $w);
      display: flex;
      align-items: flex-end;

      span {
        @include tenor (48px, 120%, left, normal, none, $w);
        margin-right: 10px;
        margin-left: 10px;
      }

      @include to(575px) {
        font-size: 24px;

        span {
          font-size: 24px;
          margin-right: 5px;
          margin-left: 5px;
        }
      }
    }

    &-numbers-2 {
      @include tenor (48px, 120%, left, normal, none, $w);
      display: flex;
      align-items: flex-start;

      sup {
        @include tenor (18px, 120%, left, normal, none, $w);
      }

      @include to(575px) {
        font-size: 24px;

        sup {
          font-size: 18px;
        }
      }
    }

    &-text {
      @include HelveticaNeueCyr (18px, 170%, left, lowercase, $w, 400);

      @include to(575px) {
        font-size: 14px;
      }
    }
  }
}

.location {

  &__map {
    width: 50%;
    height: 80vh;

    @include to(768px) {
      width: 100%;
      height: 477px;
    }

    @include to(575px) {
      height: 280px;
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.apartments__video {
  width: 100%;
  height: 600px;
  position: relative;

  @include to(575px) {
    height: 450px;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.apartments__pattern {
  position: absolute;
  top: 83%;
  transform: translateY(-50%);
  left: 0%;
  background: url("../images/icons/Pattern-4.svg") center center / contain no-repeat;
  width: 132px;
  height: 261px;
}

.card {
  .title {
    text-align: left;

    @include to(768px) {
      font-size: 36px;
    }

    @include to(575px) {
      font-size: 24px;
    }
  }

  @include to(575px) {
    .blocks-margin {
      margin-top: 120px;
    }
  }
}

.card-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;

  .card-button.button {
    margin-top: 20px;

    a {
      justify-content: flex-start;
    }
  }

  @include to(768px) {
    grid-column-gap: 20px;
  }

  @include to(575px) {
    grid-template-columns: repeat(1, 100%);
    grid-column-gap: 0;
  }

  .card__item-image img {
    height: 500px;
    object-fit: cover;
    width: 100%;

    @include to(768px) {
      height: 477px;
    }

    @include to(575px) {
      height: 360px;
    }
  }
}

.card__item-image img {
  height: auto;
  width: 100%;
  object-fit: cover;

  @include to(575px) {
    height: 360px;
  }
}

.card__item-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .card-button.button {
    margin-top: 0;
  }

  @include to(575px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .card-button.button {
      margin-top: 20px;
    }
  }
}

.card__item-right {
  position: relative;

  .pattern {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 261px;
    height: 263px;
  }

  @include to(575px) {
    margin-top: 120px;
  }
}

.info {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: var(--left-right-margin);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  align-items: start;
  justify-items: start;
  row-gap: 90px;
  background: url("../images/img/info.jpg") center center / cover no-repeat;

  @include to(768px) {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
    align-items: center;
    row-gap: 60px;
    width: 100%;
  }

  @include to(575px) {
    padding-top: 30px;
    padding-bottom: 50px;
    row-gap: 30px;
  }

  &__first,
  &__third {
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 50px;
    justify-content: space-between;
    align-items: center;

    &-svg {
      grid-row: 1 / 3;

      @include to(768px) {
        margin: 0 auto;
        margin-bottom: 30px;
      }

      img {
        @include to(768px) {
          width: 120px;
        }

        @include to(575px) {
          width: 90px;
        }
      }
    }

    @include to(768px) {
      grid-template-columns: repeat(1, 100%);
    }
  }

  &__first,
  &__second,
  &__third,
  &__fourth {
    @include to(768px) {
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .title-2 {
      text-align: left;

      @include to(768px) {
        text-align: center;
      }
    }

    .button {
      margin-top: 0;

      @include to(768px) {
        margin: 0 auto;
      }

       a {
         justify-content: flex-start;
         color: $w;
       }

      &:hover a{
        color: $main-green;
      }
    }
  }

  &__pattern {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 75%;
    width: 264px;
    height: auto;
    transform: translate(-50%, -50%);
  }
}

.connection {
  background: $dark-grey;
  padding-left: var(--left-right-margin);
  padding-right: var(--left-right-margin);

  &__contacts-item {
    margin-bottom: 70px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__pattern {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 80px;
    width: 264px;
    height: auto;
  }

  &__contacts-left, &__contacts-right{
    z-index: 1;
  }

  &__contacts-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 10%;
  }

  .title {
    margin-bottom: 100px;
  }

  .connection__text {
    @include HelveticaNeueCyr(18px, 170%, left, none, $main-brown, 400);
    max-width: 60%;
  }

  a.connection__text{
    @include hover-color;
  }

  .connection__text-upper {
    @include HelveticaNeueCyr(18px, 170%, left, uppercase, $main-brown, 400);
    max-width: 60%;
    margin-top: 20px;
  }

  .button {
    margin-top: 30px;
  }
}

.helvet__title {
  @include HelveticaNeueCyr(18px, 100%, left, uppercase, $main-brown, 400);
  margin-bottom: 20px;
}


.pageup {
  display: block;
  position: fixed;
  z-index: 6;
  bottom: 80px;
  right: 50px;
  width: 50px;
  height: 50px;
  opacity: 0;

  svg {
    mix-blend-mode: difference;

    circle,
    path {
      stroke: #9d9fa1;
    }
  }

  @include to(575px) {
    right: var(--header-padding);
  }
}

