#infrastructure {
  position: relative;

  .button {
    @include to(820px) {
      margin-top: 45px;
    }
  }

  @include to(820px) {
    .tenth__pattern {
      display: none;
    }

    .eleventh__pattern {
      left: 0;
    }
  }

  @include to(425px) {
    .eleventh__pattern {
      display: none;
    }
  }

  .info-top__text {
    width: 100%;

    .text {
      margin-left: 45%;

      @include to(820px) {
        margin-left: 25%;
      }
    }
  }


  .infrastructure-block__margin {
    margin-bottom: 150px;

    @include to(820px) {
      margin-bottom: 80px;
    }

    @include to(575px) {
      margin-bottom: 50px;
    }
  }
}

.infrastructure-block-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .infrastructure-block {
    width: 100%;
  }

  .helvetica-title {
    margin-bottom: 30px;

    @include to(820px) {
      margin-bottom: 20px;
    }
  }

  .block-big{
    margin-top: 80px;
    width: 100%;

    .tenor-title {
      margin-bottom: 0;
    }

    @include to(820px) {
      margin-top: 40px;
    }

    @include to(425px) {
      margin-top: 0;
    }
  }
}

.block__row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  .col {
    .block {
      margin-bottom: 80px;

      &:last-child {
        margin-bottom: 0;

        @include to(425px) {
          margin-bottom: 20px;
        }
      }

      .tenor-title {
        margin-bottom: 0;
        max-width: 95%;
      }

      @include to(820px) {
        margin-bottom: 40px;
      }

      @include to(575px) {
        margin-bottom: 20px;
      }
    }
  }

  @include to(425px) {
    flex-direction: column;
  }
}
