#news-page{
  position: relative;

  .news-page-text__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;

    @include to(575px) {
      flex-direction: column;

      .tenor-date {
        margin-bottom: 20px;
      }
    }

    .news-page-text {
      width: 80%;

      @include to(575px) {
        width: 100%;
      }

      .button {
        margin-top: 50px;
      }
    }
  }
  .news-title {
    @include HelveticaNeueCyr(36px, 160%, left, uppercase, $main-brown, 400);
    margin-bottom: 30px;

    @include to(575px) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  .news-Helvetica{
    @include HelveticaNeueCyr(18px, 170%, left, none, $main-brown, 400);

    @include to(575px) {
      font-size: 12px;
    }

    p {
      margin-bottom: 30px;

      @include to(575px) {
        margin-bottom: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .news {
    margin-bottom: 0;
  }

  .last-news__wrapper {
    .page-title {
      border-bottom: 2px solid #A6B720;
      padding-bottom: 20px;
    }
    .last-news {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @include to(425px) {
        flex-direction: column;
      }
    }
  }
}
