#specifications {
  position: relative;

  .tenor-title {
    margin-bottom: 50px;
  }

  .specifications-block__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .specifications-block {
      height: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      @include to(650px) {
        margin-bottom: 80px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .specifications-block__img{
        width: 50%;

        @include to(650px) {
          width: 100%;
        }
      }

      &:nth-child(odd) {
        justify-content: flex-start;

        @include to(650px) {
          flex-direction: column;
        }

        .specifications-block__img{
          padding-right: var(--inner-margin);

          @include to(650px) {
            padding-right: 0;
          }
        }

        .specifications-block__text {
          padding-left: var(--inner-margin);

          @include to(650px) {
            padding-left: 0;
          }
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        @include to(650px) {
          flex-direction: column;
        }

        .specifications-block__img{
          padding-left: var(--inner-margin);

          @include to(650px) {
            padding-left: 0;
          }
        }

        .specifications-block__text {
          padding-right: var(--inner-margin);

          @include to(650px) {
            padding-right: 0;
          }
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;

        @include to(650px) {
          width: 100%;
          margin-top: 30px;
        }

        .tenor-title {
          margin-bottom: 20px;
        }

        .text {
          text-align: left;
        }
      }
    }
  }
}
