#values {
  position: relative;

  .button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    a .btn-svg {
      margin-left: 15px;
    }
  }

  .value {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .slides__wrapper {
      width: 60%;
      display: flex;
      flex-direction: column;

      .slide {
        &:last-child {
          margin-bottom: 100px;
        }
        .tenor-title {
          margin-bottom: 0;
          margin-top: 20px;
          margin-left: var(--left-right-margin);
        }
      }
    }
  }
}
