.video-webcam__blocks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  .video-webcam__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    iframe {
      width: 100%;

      @include to(820px) {
        height: 350px;
      }

      @include to(575px) {
        height: 250px;
      }

      @include to(425px) {
        height: 200px;
      }
    }
  }
}
