ul.breadcrumbs
  li.breadcrumbs-item
    a(href="#").breadcrumbs-item__link OZON concept house
    +svg('bread')
  //if breadcrumbsSubitem
  //  each v in breadcrumbsSubitem
  //    li.breadcrumbs-item
  //      a(href="#").breadcrumbs-item__link= v.label
  //      +svg('bread')
  li.breadcrumbs-item__current--color.breadcrumbs-item= title_page
