header.header
    .header__left
        a(href='index.html')
            img(src='./assets/images/logo/logo.svg' alt='logo')

    .header__right
        .header__right-social
            a(href='https://www.facebook.com' target='_blank')
                svg(width='38' height='38' viewbox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg')
                    rect(x='1' y='1' width='36' height='36' rx='18' stroke='#ECEDEF')
                    path(d='M20.9046 14.9925H22V13.0845C21.811 13.0585 21.1611 13 20.4041 13C18.8248 13 17.7429 13.9935 17.7429 15.8195V17.5H16V19.633H17.7429V25H19.8797V19.6335H21.552L21.8175 17.5005H19.8792V16.031C19.8797 15.4145 20.0457 14.9925 20.9046 14.9925V14.9925Z' stroke='#4D4D4C')
            a(href='https://www.instagram.com/' target='_blank')
                svg(width='38' height='38' viewbox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg')
                    rect(x='1' y='1' width='36' height='36' rx='18' stroke='#ECEDEF')
                    rect(x='13.5' y='13.5' width='11' height='11' rx='2.5' stroke='#4D4D4C')
                    path(d='M19.0009 16.4673C17.6019 16.4673 16.4668 17.6024 16.4668 19.0015C16.4668 20.4006 17.6019 21.5356 19.0009 21.5356C20.4 21.5356 21.5351 20.4006 21.5351 19.0015C21.5351 17.6024 20.4 16.4673 19.0009 16.4673Z' stroke='#4D4D4C')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M22 15.5C22 15.2238 22.2239 15 22.5 15C22.7761 15 23 15.2238 23 15.5C23 15.7761 22.7761 16 22.5 16C22.2239 16 22 15.7761 22 15.5Z' stroke='#4D4D4C')
        .lang-block
            ul
                li
                    a(href="index-ru.html") рус
                li.active
                    a(href='index.html') Укр
                li
                    a(href="index-ru.html") Eng
        .header__right-phone
            a(href='tel:+380442334545')
                span (044) 233-45-45
        .header__right-button(data-open-call-popup)
            a(href="#").text-2.text-hover
                span Замовити дзвінок
        .button-phone.js-mobile-call
            +svg('phone')

        .header__right-menu(data-open-menu)
            .text-2 Меню
            .burger__icon
                span.burger__icon__line
                span.burger__icon__line
                span.burger__icon__line
        .menu-top__right-close(data-close-menu)
            .text-2 Меню
            .menu-close
                span.menu-close__line
                span.menu-close__line


