
extends ../layout/main
block variable
  -
    var title_page = 'Зв’язок'
    var id_page = 'id-page-communication'
    var class_page = 'class-page-communication'
    var breadcrumbsSubitem = [
      {
        label: 'Communication',
        link: pagesLink[0].communication
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/communication.js')
  script(defer src='./assets/scripts/animation.js')

block content
  include ../includes/breadcrumbs.pug

  #communication
    .page-inner-offset2
      h1(data-span-entry1)#up.page-title= title_page
      .connection
        .connection__contacts
          .connection__contacts-left.half-block
            .connection__contacts-item
              .helvet__title розташування:
              .connection__text Київ, Печерський район,
                | вул. Вільшанська, 2-6
              .button
                a(href="#")
                  span Показати на Google Maps
                  +svg('arrow').btn-svg

            .connection__contacts-item
              .helvet__title  відділ продажів:
              a(href='tel:+380442334545').connection__text
                span 044 364-50-51
              .connection__text-upper
                p ПН-ПТ: 09:00-19:00,
                p СБ-ВС: 10:00-18:00

          .connection__contacts-right.half-block
            form.home-form(data-communication-contact autocomplete="off")
              .helvet__title залишились запитання?
              .form-field__wrapper
                label(for="name").form-label Введіть ваше ім’я
                .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
                  input(type='text' name="name" id="name" placeholder="Ім`я:").form-field__input
                  .form-field-icon
                  .input-message(data-input-message)

              .form-field__wrapper
                label(for="phone").form-label Введіть ваш телефон
                .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
                  input(type='text' name="phone" id="phone").form-field__input
                  .form-field-icon
                  .input-message(data-input-message)
                  .mask-absolute.js-mask-absolute + (38) ___ - ___ - __

              .form-field__wrapper
                label(for="text").form-label Введіть ваше повідомлення
                .form-textarea(data-field-input data-field-name data-status="field--inactive")
                  textarea(type='text' name="name" id="text" placeholder="Повідомлення:").form-field__input


              .form-checkbox__wrapper
                label.form-checkbox Натискаючи *Відправити запит*, ви надаєте згоду на обробку, зберігання та використання ваших персональних даних
                  input(type="checkbox" checked="checked")
                  span.checkmark

              .form-info-block
                img(src='./assets/images/icons/form-star.svg' alt='Pattern-8')
                .form-checkbox обов’язкові поля для заповнення

              .button
                button( type="submit" data-btn-submit)
                  span(data-btn-submit-text) надіслати
                  +svg('arrow').btn-svg

    .twentythird__pattern
      img(src='./assets/images/icons/Pattern-14.svg' alt='Pattern')
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
