
extends ../layout/main
block variable
  -
    var title_page = 'День в OZON'
    var id_page = 'id-page-day'
    var class_page = 'class-page-day'
    var breadcrumbsSubitem = [
      {
        label: 'День в OZON',
        link: pagesLink[0].day
      }
    ]
    var blocks = [{
      img: 'day/1.png',
      text: 'Прокинутись під спів птахів',
      time: '08:00'
    }, {
      img: 'day/2.png',
      text: 'Поснідати з видом на ботанічний сад',
      time: '08:30'
    }, {
      img: 'day/3.png',
      text: 'Поснідати з видом на ботанічний сад',
      time: '09:00'
    }, {
      img: 'day/4.png',
      text: 'Поснідати з видом на ботанічний сад',
      time: '09:30',
    }, {
      img: 'day/5.png',
      text: 'Поснідати з видом на ботанічний сад',
      time: '10:00'
    }, {
      img: 'day/6.png',
      text: 'Поснідати з видом на ботанічний сад',
      time: '11:00',
    }, {
      img: 'day/7.png',
      text: 'Поснідати з видом на ботанічний сад',
      time: '13:00',
    },{
      img: 'day/8.png',
      text: 'Поснідати з видом на ботанічний сад',
      time: '15:00',
    }, {
      img: 'day/9.png',
      text: 'Поснідати з видом на ботанічний сад',
      time: '18:00',
    }, {
      img: 'day/10.png',
      text: 'Поснідати з видом на ботанічний сад',
      time: '',
    }]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/day.js')
block content
  include ../includes/breadcrumbs.pug

  #day
    .page-inner-offset
      h1.page-title= title_page
      .day-blocks-wrapper
        each bl in blocks
          .block
            .block__img-wrapper
              +img(bl.img)
              .block__gradient
              .block__time= bl.time
            .block__text.helvetica-title= bl.text
    .first__pattern
    .second__pattern
    .third__pattern
    .fourth__pattern
    .fifth__pattern
    .sixth__pattern
    .seventh__pattern
    .eighth__pattern
    .ninth__pattern


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
