
extends ../layout/main
block variable
  -
    var title_page = 'Галерея'
    var id_page = 'id-page-gallery'
    var class_page = 'class-page-gallery'
    var breadcrumbsSubitem = [
      {
        label: 'Gallery',
        link: pagesLink[0].gallery
      }
    ]
    var slider = [
      {img: 'gallery/1.png'},
      {img: 'gallery/1.png'},
      {img: 'gallery/1.png'},
      {img: 'gallery/1.png'}]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/gallery.js')
  script(defer src='./assets/scripts/animation.js')

block content
  include ../includes/breadcrumbs.pug
  #gallery
    .page-inner-offset5
      h1(data-span-entry1)#up.page-title= title_page
      .gallery-slider__wrap.swiper-container
        .swiper-wrapper
          each sl in slider
            .swiper-slide.gallery-slide
              .slide__content(data-swiper-parallax="300" data-swiper-parallax-delay="600" data-img)
                +img(sl.img)
        .moving-arrow
          +svg('gallery').arrow-style

      .swiper-button-next(data-next)
      .swiper-button-prev(data-prev)


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
