extends ../layout/main
block variable
  -
    var title_page = 'home'
    var id_page = 'home-page'
    var class_page = 'home'
    var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'Home',
        link: pagesLink[0].home
      }
    ]
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/home.js')
  script(defer src='./assets/scripts/animation.js')
block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts


block content
  #home-page
    section#up.promo
      .promo__content
        h1(data-span-entry1).subtitle.bottom-offset  ozon concept house
        h2(data-span-entry2).title.bottom-offset Печерськ здорової людини
        .text.big-main-text.bottom-offset(data-span-entry3) У тихій частині Печерська, біля ботанічного саду ми створюємо OZON Concept House.
        ul.promo__links
          li(data-span-entry3) Для гармонії
          li(data-span-entry3) Для спорту та відпочинку
          li(data-span-entry3) Для спокійного життя
        .promo__group
          img(src='./assets/images/icons/Group.svg' alt='pattern')
        .button(data-span-entry3)
          a(href="#")
            span Дивитися квартири
            +svg('arrow').btn-svg
        a(href="#").button-bottom
          svg(width='52' height='52' viewbox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M32 26.3585C30.3962 27.2075 26.8491 29.9245 25.4906 34' stroke='#4D4D4C')
            path(d='M18.9811 26.3585C20.5849 27.2075 24.132 29.9245 25.4905 34' stroke='#4D4D4C')
            path(d='M25.4905 17L25.4905 35' stroke='#4D4D4C')
            circle(cx='26' cy='26' r='25' stroke='#ECEDEF')
          | дізнатися більше

    .video#bottom
      video(autoplay='false' muted='' loop='' playsinline controls)
        source(src='./assets/images/video/video-main.mp4' type='video/mp4')
      //.button.video__button
      //  a(href='#')
      //    span.white-button дивитися відео
      //    svg(width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
      //      circle(cx="25" cy="25" r="25" fill="#A6B720")
      //      path(d="M20 32V18L34 25L20 32Z" fill="white")
      .video__pattern
        img(src='./assets/images/icons/Pattern-1.svg' alt='pattern')

    section.ecological.row.blocks-margin.blocks-offset
      .ecological__content.half-block.block-content
        h2(data-span-entry1).subtitle.bottom-offset ecological
        h2(data-span-entry2).title.little-title.bottom-offset екологічне оточення
        .text.little-main-text(data-span-entry3) Атмосфера умиротворення в оточенні зелені — всього за декілька хвилин пішки від ботанічного саду
        .button(data-span-entry3)
          a(href="#")
            span Детальніше
            +svg('arrow').btn-svg
      .ecological__image.half-block
        img(src='./assets/images/img/ecological.jpg' alt='ecological')

    section.garden.blocks-margin
      .garden__image
        img(src='./assets/images/img/garden.jpg' alt='garden')
      .garden__content.blocks-margin
        h2(data-span-entry1).subtitle.bottom-offset garden
        h2(data-span-entry2).title.bottom-offset концепція "дім-сад"
        .text.big-main-text(data-span-entry3) Сади на терасах і дахах, куди матимуть доступ усі мешканці, парк навколо будинку
      .garden__pattern
        img(src='./assets/images/icons/Pattern-2.svg' alt='pattern')

    section.aesthetics.row.blocks-margin.blocks-offset
      .aesthetics__image.half-block
        img(src='./assets/images/img/aesthetics.jpg' alt='aesthetics')
      .aesthetics__content.half-block.block-content
        h2(data-span-entry1).subtitle.bottom-offset aesthetics
        h2(data-span-entry2).title.bottom-offset естетика 360º
        .text.little-main-text(data-span-entry3) Сучасна архітектура, стильний дизайн суспільних просторів, панорамний вид на ботанічний сад

    section.infrastructure.row.blocks-margin.blocks-offset
      .infrastructure__content.half-block.block-content
        h2(data-span-entry1).subtitle.bottom-offset infrastructure
        h2(data-span-entry2).title.bottom-offset продумана інфраструктура
        .text.little-main-text(data-span-entry3) Усе, що потрібно для гармонійного життя
        .button(data-span-entry3)
          a(href="#")
            span Детальніше
            +svg('arrow').btn-svg
      .infrastructure__image.half-block
        img(src='./assets/images/img/infrastructure.jpg' alt='infrastructure')
      .infrastructure__pattern
        img(src='./assets/images/icons/Pattern-3.svg' alt='pattern')

    section.concept.blocks-margin
      h2(data-span-entry1).concept__title ozon concept house
      .concept__items
        .concept__item
          .concept__item-numbers 2,4 га
          .concept__item-text площа забудови
        .concept__item
          .concept__item-numbers 178
          .concept__item-text квартир у першій будівлі
        .concept__item
          .concept__item-numbers 5
          .concept__item-text будівель різної висоти
        .concept__item
          .concept__item-numbers 720
          .concept__item-text паркомісць у підземному паркінгу
        .concept__item
          .concept__item-numbers
            .concept__item-text від
            span 9
            .concept__item-text до
            span 26
          .concept__item-text поверхів у будинках комплексу
        .concept__item
          .concept__item-numbers-2
            | 3500 м
            sup 2
          .concept__item-text комерційної нерухомості

    section.location.blocks-margin.row.blocks-offset
      #map.map.location__map.half-block
        .location__map-img
      .location__content.half-block.block-content
        h2(data-span-entry1).subtitle.bottom-offset location
        h2(data-span-entry2).title.bottom-offset розташування
        .text.little-main-text(data-span-entry3) OZON Concept House розташований у центрі Києва, у тихій частині Печерська за адресою: вулиця Вільшанська, 2-6.
        .button(data-span-entry3)
          a(href="#")
            span Детальніше
            +svg('arrow').btn-svg

    section.apartments.blocks-margin
      .apartments__video
        video(autoplay='true' muted='' loop='' playsinline controls)
          source(src='./assets/images/video/video-apartments.mp4' type='video/mp4')
      .apartments__content.blocks-margin.block-content
        h2(data-span-entry1).subtitle.bottom-offset apartments
        h2(data-span-entry2).title.little-title.bottom-offset Квартири, створені для гармонії
        .text.big-main-text(data-span-entry3) Для тих, хто хоче жити в гармонії та оточенні однодумців, щодня насолоджуватися атмосферою тихого центру та видом на улюблений Печерськ, ми створюємо OZON Concept House. Тут кожна квартира продумана до деталей та створена для вашого комфорту. Хочете стати його мешканцем? Вибирайте квартиру та плануйте переїжджати до нашого будинку!
        .button-2.button(data-span-entry3)
          a(href="#")
            span Детальніше
            +svg('arrow').btn-svg
      .apartments__pattern
        img(src='./assets/images/icons/Pattern-4.svg' alt='pattern')


    section.card.blocks-margin.offset
      .card-top
        .card__item.card__item-left
          .card__item-image
            img(src='./assets/images/img/card-advantages.jpg' alt='card-advantages')
          h2.title.top-offset переваги
          .card-button.button
            a(href="#")
              span Детальніше
              +svg('arrow').btn-svg
        .card__item.card__item-right
          .card__item-image
            img(src='./assets/images/img/card-infrastructure.jpg' alt='card-infrastructure')
          h2.title.top-offset інфраструктура
          .card-button.button
            a(href="#")
              span Детальніше
              +svg('arrow').btn-svg
          .pattern
            img(src='./assets/images/icons/Pattern-5.svg' alt='Pattern-5')

      .card__item.blocks-margin
        .card__item-image
          img(src='./assets/images/img/values.jpg' alt='values')
        .card__item-content.top-offset
          h2.title Цінності
          .card-button.button
            a(href="#")
              span Детальніше
              +svg('arrow').btn-svg

    section.info.blocks-margin
      .info__first
        .info__first-svg
            img.saga(src='./assets/images/icons/saga.svg' alt='saga')
        h2.title-2.bottom-offset ДЕВЕЛОПЕР
        .button
          a(href="#")
            span Детальніше
            +svg('arrow').btn-svg

      .info__second
        h2.title-2.bottom-offset Будівництво
        .button
          a(href="#")
            span Детальніше
            +svg('arrow').btn-svg

      .info__third
        .info__third-svg
            img.sfera(src='./assets/images/icons/sfera-1.svg' alt='sfera')
        h2.title-2.bottom-offset Sfera Living System
        .button
          a(href="#")
            span Детальніше
            +svg('arrow').btn-svg

      .info__fourth
        h2.title-2.bottom-offset Документація
        .button
          a(href="#")
            span Детальніше
            +svg('arrow').btn-svg

      .info__pattern
        img(src='./assets/images/icons/Pattern-8.svg' alt='Pattern')


    section.happiness.row.blocks-margin.blocks-offset
      .aesthetics__image.half-block
        img(src='./assets/images/img/happiness.jpg' alt='happiness')
      .aesthetics__content.half-block.block-content
        h2(data-span-entry1).subtitle.bottom-offset Happiness
        h2(data-span-entry2).title.bottom-offset День в ozon
        .text.little-main-text(data-span-entry3) Дізнайтесь, як проходитиме день, коли ви будете жити в OZON Concept House.
        .button(data-span-entry3)
          a(href="#")
            span Детальніше
            +svg('arrow').btn-svg

    section.connection.blocks-margin
      h2(data-span-entry1).title Контакти
      .connection__contacts
        .connection__contacts-left.half-block
          .connection__contacts-item
            .helvet__title розташування:
            .connection__text Київ, Печерський район,
              | вул. Вільшанська, 2-6
            .button
              a(href="#")
                span Показати на Google Maps
                +svg('arrow').btn-svg

          .connection__contacts-item
            .helvet__title  відділ продажів:
            a(href='tel:+380442334545').connection__text
              span 044 364-50-51
            .connection__text-upper
              p ПН-ПТ: 09:00-19:00,
              p СБ-ВС: 10:00-18:00

        .connection__contacts-right.half-block
          form.home-form(data-home-contact autocomplete="off")
            .helvet__title залишились запитання?
            .form-field__wrapper
              label(for="name").form-label Введіть ваше ім’я
              .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
                input(type='text' name="name" id="name" placeholder="Ім`я:").form-field__input
                .form-field-icon
                .input-message(data-input-message)

            .form-field__wrapper
              label(for="phone").form-label Введіть ваш телефон
              .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
                input(type='text' name="phone" id="phone").form-field__input
                .form-field-icon
                .input-message(data-input-message)
                .mask-absolute.js-mask-absolute + (38) ___ - ___ - __

            .form-field__wrapper
              label(for="text").form-label Введіть ваше повідомлення
              .form-textarea(data-field-input data-field-name data-status="field--inactive")
                textarea(type='text' name="name" id="text" placeholder="Повідомлення:").form-field__input


            .form-checkbox__wrapper
              label.form-checkbox Натискаючи *Відправити запит*, ви надаєте згоду на обробку, зберігання та використання ваших персональних даних
                input(type="checkbox" checked="checked")
                span.checkmark

            .form-info-block
              img(src='./assets/images/icons/form-star.svg' alt='star')
              .form-checkbox обов’язкові поля для заповнення

            .button
              button( type="submit" data-btn-submit)
                span(data-btn-submit-text) надіслати
                +svg('arrow').btn-svg


            .twentysecond__pattern
              img(src='./assets/images/icons/Pattern-15.svg' alt='Pattern')
      .twentythird__pattern
        img(src='./assets/images/icons/Pattern-14.svg' alt='Pattern')


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
