
extends ../layout/main
block variable
  -
    var title_page = 'Новини'
    var id_page = 'id-page-news'
    var class_page = 'class-page-news'
    var breadcrumbsSubitem = [
      {
        label: 'News',
        link: pagesLink[0].news
      }
    ]
    var news = [
      {
        img: 'news/1.png',
        text: 'Чисте повітря завдяки зеленій території та розташуванню поблизу ботанічного саду',
        date: '05.05.2021',
        link: 'news-page.html'
      }, {
        img: 'news/2.png',
        text: 'Атмосфера будинку, яка умиротворяє',
        date: '05.05.2021',
        link: '#'
      }, {
        img: 'news/3.png',
        text: 'Чисте задоволення — насолоджуватися чарівними видами, оточивши себе красою та зручністю',
        date: '05.05.2021',
        link: '#'
      }, {
        img: 'news/4.png',
        text: 'Зелені експлуатовані дахи',
        date: '05.05.2021',
        link: '#'
      }, {
        img: 'news/5.png',
        text: 'Розмаїття можливостей для спорту, відпочинку та гармонійного життя',
        date: '05.05.2021',
        link: '#'
      }, {
        img: 'news/6.png',
        text: 'Втілення концепції з увагою до кожної деталі',
        date: '05.05.2021',
        link: '#'
      }, {
        img: 'news/7.png',
        text: 'Бігові та велодоріжки у парку навколо будинку',
        date: '05.05.2021',
        link: '#'
      }, {
        img: 'news/8.png',
        text: 'Ботанічний сад поруч з будинком',
        date: '05.05.2021',
        link: '#'
      }, {
        img: 'news/9.png',
        text: 'Чисте задоволення — насолоджуватися чарівними видами, оточивши себе красою та зручністю',
        date: '05.05.2021',
        link: '#'
      }, {
        img: 'news/10.png',
        text: 'Атмосфера умиротворення в оточенні зелені — всього за декілька хвилин пішки від ботанічного саду',
        date: '05.05.2021',
        link: '#'
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/news.js')
  script(defer src='./assets/scripts/animation.js')

block content
  include ../includes/breadcrumbs.pug

  #news
    .page-inner-offset
      h1(data-span-entry1)#up.page-title= title_page
      .news-block__wrapper
        each val in news
          .news-wrapper
            a(href=val.link).news
              +img(val.img)
              .tenor-date(data-span-entry1)=val.date
              .tenor-title(data-span-entry1)=val.text

      .pagination__wrapper
        a(href="#")
          +svg('pagination-prev')
          span попередня
        .pagination__numbers
          a(href="#")
            span 1
          a(href="#")
            span 2
          a(href="#")
            span 3
          a(href="#")
            span 4
          span ...
        a(href="#")
          span наступна
          +svg('pagination-next')

    .twelfth__pattern
      img(src='./assets/images/icons/Pattern-9.svg' alt='Pattern')
    .thirteenth__pattern
      img(src='./assets/images/icons/Pattern-5.svg' alt='Pattern')
    .fourteenth__pattern
      img(src='./assets/images/icons/Pattern-1.svg' alt='Pattern')
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
