
extends ../layout/main
block variable
  -
    var title_page = 'Відео'
    var id_page = 'id-page-video'
    var class_page = 'class-page-video'
    var breadcrumbsSubitem = [
      {
        label: 'Video',
        link: pagesLink[0].video
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/animation.js')

block content
  include ../includes/breadcrumbs.pug
  #video
    .page-inner-offset
      h1(data-span-entry1)#up.page-title= title_page
      .video-webcam__blocks
        .video-webcam__block.relative
          iframe(width="810" height="450" src="https://www.youtube.com/embed/gg1Rqx4kSNU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          .helvetica-title.title__top-padding1(data-span-entry2) Назва відеоролику
          .nineteenth__pattern
            img(src='./assets/images/icons/Pattern-10.svg' alt='Pattern')

        .video-webcam__block.title__top-padding3.relative
          iframe(width="810" height="450" src="https://www.youtube.com/embed/gg1Rqx4kSNU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          .helvetica-title.title__top-padding1(data-span-entry1) Назва відеоролику
          .twentieth__pattern
            img(src='./assets/images/icons/Pattern-12.svg' alt='Pattern')
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
