.breadcrumbs {
  margin-top: calc(var(--header-h) + 50px);
  margin-right: var(--header-padding);
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;

  &-list {
    display: flex;
    align-items: center;
    align-content: center;
  }

  &-item {
    @include HelveticaNeueCyr(12px, 100%, right, none, $main-brown, 400);

    svg {
      fill: transparent;
      height: 12px;
      width: 12px;
      margin-right: 15px;
      margin-left: 15px;
    }

    &__link {
      @include HelveticaNeueCyr(12px, 100%, right, none, $main-green, 400);
    }
    &:last-child {
      display: initial;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      //max-width: 23ch;
    }
  }
}
