.page__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  min-height: 100vh;
	.page__content {
      flex-grow: 1;
	}
	.page__footer-wrapper {
      flex-shrink: 0;
	}
}
.section-padding--top {
  padding-top: 60px;
}
.btn--res{
  border: none;
  background-color: transparent;
}

.brd{
  border: 1px solid red;
}

.underline{
  position: relative;
  display: flex;
  color: #000;

  &::after{
    position: absolute;
    bottom: -2px;
    left: 0;
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #000;
    content: "";
  }
}

.row {
  display: flex;
  justify-content: space-between;

  @include to(768px) {
    flex-direction: column;
  }
}

.half-block {
  @include size(6);

  @include to(768px) {
    width: 100%;
  }
}

.block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blocks-margin {
  margin-top: var(--blocks-margin);
}

.offset {
  margin-left: var(--offset);
  margin-right: var(--offset);
}

.blocks-offset {
  margin-left: var(--blocks-offset);
  margin-right: var(--blocks-offset);
}

.page-inner-offset {
  margin-left: var(--page-inner-offset);
  margin-right: var(--page-inner-offset);
  margin-bottom: var(--page-inner-offset2);
}

.page-inner-offset2 {
  margin-right: var(--left-right-margin);
  margin-left: var(--left-right-margin);
  margin-bottom: var(--page-inner-offset2);
}

.page-inner-offset3 {
  margin-left: var(--page-inner-offset);
  margin-right: var(--page-inner-offset);
}

.page-inner-offset4 {
  margin-left: var(--page-inner-offset);
  margin-right: var(--left-right-margin);
}

.page-inner-offset5 {
  margin-left: var(--page-inner-offset);
  margin-bottom: var(--page-inner-offset2);
}

.col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;

  &:first-child {
    padding-right: var(--inner-margin);
  }

  &:last-child {
    padding-left: var(--inner-margin);
  }

  @include to(425px) {
    width: 100%;

    &:first-child {
      padding-right: 0;
    }

    &:last-child {
      padding-left: 0;
    }
  }
}

.first__pattern {
  position: absolute;
  z-index: -1;
  top: 0;
  left: calc(-264px/2);
  transform: translateY(50%);
  background: url("../images/icons/Pattern-11.svg") center center / contain no-repeat;
  width: 264px;
  height: 296px;
}

.second__pattern {
  position: absolute;
  z-index: -1;
  top: 900px;
  right: calc(-264px/2);
  transform: translateY(50%);
  background: url("../images/icons/Pattern-9.svg") center center / contain no-repeat;
  width: 264px;
  height: 272px;
}

.third__pattern {
  position: absolute;
  z-index: -1;
  top: 1600px;
  left: calc(-265px/2);
  transform: translateY(50%);
  background: url("../images/icons/Pattern-5.svg") center center / contain no-repeat;
  width: 265px;
  height: 267px;
}

.fourth__pattern {
  position: absolute;
  z-index: -1;
  top: 2200px;
  right: calc(-264px/2);
  transform: translateY(50%);
  background: url("../images/icons/Pattern-8.svg") center center / contain no-repeat;
  width: 264px;
  height: 266px;
}

.fifth__pattern {
  position: absolute;
  z-index: -1;
  top: 2700px;
  left: 0;
  transform: translateY(50%);
  background: url("../images/icons/Pattern-2.svg") center center / contain no-repeat;
  width: 133px;
  height: 267px;
}

.sixth__pattern {
  position: absolute;
  z-index: -1;
  top: 3200px;
  right: calc(-264px/2);
  transform: translateY(50%);
  background: url("../images/icons/Pattern-1.svg") center center / contain no-repeat;
  width: 264px;
  height: 258px;
}

.seventh__pattern {
  position: absolute;
  z-index: -1;
  top: 4200px;
  left: 0;
  transform: translateY(50%);
  background: url("../images/icons/Pattern-4.svg") center center / contain no-repeat;
  width: 134px;
  height: 273px;
}

.eighth__pattern{
  position: absolute;
  z-index: -1;
  top: 4900px;
  right: calc(-286px/2);
  transform: translateY(50%);
  background: url("../images/icons/Pattern-5.svg") center center / contain no-repeat;
  width: 286px;
  height: 300px;
}

.ninth__pattern {
  position: absolute;
  z-index: -1;
  top: 5600px;
  left: calc(-286px/2);
  transform: translateY(50%);
  background: url("../images/icons/Pattern-3.svg") center center / contain no-repeat;
  width: 286px;
  height: 274px;
}

.tenth__pattern{
  position: absolute;
  z-index: -1;
  top: 96%;
  right: 0;
  transform: translateY(50%);
  background: url("../images/icons/Pattern-13.svg") center center / contain no-repeat;
  width: 132px;
  height: 266px;
}

.eleventh__pattern{
  position: absolute;
  z-index: -1;
  top: 100%;
  left: var(--left-right-margin);
  transform: rotate(-90deg);
  background: url("../images/icons/Pattern-12.svg") center center / contain no-repeat;
  width: 267px;
  height: 232px;
}

.twelfth__pattern {
  position: absolute;
  z-index: -1;
  top: 0;
  left: calc(-264px/2);
  transform: translateY(50%);
  background: url("../images/icons/Pattern-9.svg") center center / contain no-repeat;
  width: 264px;
  height: 272px;

  @include to(768px) {
    display: none;
  }
}

.thirteenth__pattern {
  position: absolute;
  z-index: -1;
  top: 900px;
  right: calc(-286px/2);
  transform: translateY(50%);
  background: url("../images/icons/Pattern-5.svg") center center / contain no-repeat;
  width: 286px;
  height: 300px;

  @include to(768px) {
    display: none;
  }
}

.fourteenth__pattern {
  position: absolute;
  z-index: -1;
  top: 1800px;
  left: calc(-264px/2);
  transform: translateY(50%);
  background: url("../images/icons/Pattern-1.svg") center center / contain no-repeat;
  width: 264px;
  height: 258px;

  @include to(768px) {
    display: none;
  }
}

.fifteenth__pattern {
  position: absolute;
  z-index: -1;
  top: 1300px;
  left: calc(-286px/2);
  transform: translateY(50%);
  background: url("../images/icons/Pattern-5.svg") center center / contain no-repeat;
  width: 286px;
  height: 300px;
}

.sixteenth__pattern {
  position: absolute;
  z-index: -1;
  top: 2700px;
  left: calc(-264px/2);
  transform: translateY(50%);
  background: url("../images/icons/Pattern-1.svg") center center / contain no-repeat;
  width: 264px;
  height: 258px;
}

.seventeenth__pattern {
  position: absolute;
  z-index: -1;
  bottom: -105px;
  left: 80px;
  transform: translateY(50%);
  background: url("../images/icons/Pattern-8.svg") center center / contain no-repeat;
  width: 264px;
  height: 265px;
}

.eighteenth__pattern {
  position: absolute;
  z-index: -1;
  bottom: -105px;
  right: 80px;
  transform: translateY(50%);
  background: url("../images/icons/Pattern-12.svg") center center / contain no-repeat;
  width: 267px;
  height: 232px;
}

.nineteenth__pattern {
  position: absolute;
  z-index: -1;
  bottom: 58%;
  left: -190px;
  transform: translateY(50%);
  background: url("../images/icons/Pattern-13.svg") center center / contain no-repeat;
  width: 264px;
  height: 266px;

  @include to(768px) {
    display: none;
  }
}

.twentieth__pattern {
  position: absolute;
  z-index: -1;
  bottom: 58%;
  right: -133px;
  transform: translateY(50%);
  background: url("../images/icons/Pattern-12.svg") center center / contain no-repeat;
  width: 267px;
  height: 233px;

  @include to(768px) {
    display: none;
  }
}

.twentyfirst__pattern {
  position: absolute;
  z-index: -1;
  bottom: -30px;
  right: -220px;
  transform: translateY(50%);
  background: url("../images/icons/Pattern-3.svg") center center / contain no-repeat;
  width: 267px;
  height: 233px;

  @include to(768px) {
    display: none;
  }
}
