@import './pages/advantages';
@import './pages/build-progress';
@import './pages/communication';
@import './pages/day';
@import './pages/developer';
@import './pages/documents';
@import './pages/gallery';
@import './pages/home';
@import './pages/infrastructures';
@import './pages/location';
@import './pages/news-page';
@import './pages/news';
@import './pages/sfera';
@import './pages/specifications';
@import './pages/technical_control';
@import './pages/terms-purchase';
@import './pages/values';
@import './pages/video';
@import './pages/webcam';
