.header.not-on-top {
  height: var(--header-h-2);
  transition: height .3s ease-in;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-h);
  background-color: $w;
  z-index: 100;
  width: 100%;
  transition: height .3s ease-in;

  padding-left: var(--header-padding);
  padding-right: var(--header-padding);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #ECEDEF;

  &__left {
    a img {
      width: var(--logo-w);
      height: var(--logo-h);
    }
  }

  &__right {
    @include size(7);


    display: flex;
    justify-content: space-between;
    align-items: center;

    &-social {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        svg {
          fill: transparent;
          transition: all .1s ease-in;

          &:hover {
            fill: $main-green;
            stroke: $main-green;
            transition: all .1s ease-in;

            & path {
              stroke: $w;
              fill: $main-green;
            }

            & rect {
              stroke: $w;
            }
          }
        }
      }

      @include to(768px) {
        display: none;
      }
    }

    &-language {
      @include to(768px){
        display: none;
      }
    }

    &-phone {
      a {
        @include tenor(18px, 100%, center, normal, uppercase, $main-brown);
        @include hover-color;

        @include to(575px) {
          font-size: 10px;
        }
      }

      @include to(575px) {
        order: 2;
      }
    }

    &-button {
      .button-phone {
        display: none;

        background: #2799C1;
        border-radius: 200px;
        height: 36px;
        width: 36px;

        svg {
          height: 14px;
          width: 14px;
          fill: $w;
        }
      }

      @include to(575px) {
        order: 1;

        .button-phone {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .text-2.text-hover {
          display: none;
        }
      }
    }

    .text-2 {
      @include HelveticaNeueCyr(10px, 140%, center, uppercase, $main-brown, 400);
      letter-spacing: 0.05em;
    }

    .text-hover {
      @include hover-color;
    }

    &-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      cursor: pointer;

      &:hover .burger__icon {
        transform: scaleY(0.8);
        transition: all .1s ease-in;
      }

      .burger__icon {
        width: 22px;
        height: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-image: url("../images/icons/menu-desktop.svg");
        transition: all .1s ease-in;

        &__line {
          display: none;
        }

        @include to(768px) {
          background: $main-green;
          border-radius: 200px;
          height: 36px;
          width: 36px;
          position: relative;

          &__line {
            position: absolute;
            top: 41%;
            right: 50%;
            transform: translate(50%, -50%);
            z-index: 20;

            display: flex;
            flex-direction: column;
            width: 16px;
            height: 2px;
            background: $w;

            &:first-child {
              margin-top: 5px;
            }
            &:last-child {
              margin-top: 10px;
            }
          }
        }
      }

      .text-2 {
        margin-right: 20px;

        @include to(768px) {
          margin-right: 10px;
        }

        @include to(575px){
          display: none;
        }
      }

      @include to(575px) {
        order: 3;
      }
    }
  }
}

.select__gap,
.select__list {
  @include HelveticaNeueCyr(10px, 140%, center, uppercase, $main-brown, 400);
  width: 30px;
  height: 100%;
  appearance: none;
  background-color: inherit;
  cursor: pointer;
  position: relative;
}
.on.select__gap,
.select__gap:hover {
  color: $main-brown;
}
.select__gap.on {
  color: transparent;
}
.select__list.on {
  display: block;
}
.select__item span {
  display: block;
  cursor: pointer;
  color: #333;
}
.select__item.selected,
.select__item span {
  transition: all 0.1s ease-in;
}
.select__item.selected,
.select__item span:hover {
  color: $main-green;
}
.select__gap:after {
  content: "";
  display: block;
  width: 4px;
  height: 3px;
  position: absolute;
  right: 0%;
  top: 30%;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid $main-brown;
  transform: rotate(0deg);
}
.on.select__gap:after {
  transform: rotate(180deg);
  top: 245%;
}

