.menu-wrap.menu__active {
  transition: opacity 0.5s ease-in, visibility 1ms linear;
  visibility: visible;
  opacity: 1;
}

.menu {
  display: grid;
  height: 100vh;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: var(--header-h) 110px 1fr;
  grid-template-areas: 'top top top'
  '. . .'
  '. section .';

  @include from(1600px) {
    grid-template-columns: 180px 1fr 180px;
    grid-template-rows: var(--header-h) 180px 1fr;
  }

  @include to(768px) {
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: var(--header-h) 80px 1fr;
  }

  @include to(425px) {
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: var(--header-h) 50px 1fr;
  }

  &-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: $w;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out, visibility 1ms linear 0.5s;
  }

  &-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-h);
    background-color: $w;
    grid-area: top;

    padding-left: var(--header-padding);
    padding-right: var(--header-padding);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #ECEDEF;

    .menu-top__left {
      a img {
        width: var(--logo-w);
        height: var(--logo-h);
      }
    }

    .menu-top__right {
      @include size(7);

      @include from(1600px) {
        @include size(5);
      }

      @include to(425px) {
        @include size(8);
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      &-social {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include to(992px) {
          display: none;
        }

        a {
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }

          svg {
            fill: transparent;
            transition: all .1s ease-in;

            &:hover {
              fill: $main-green;
              stroke: $main-green;
              transition: all .1s ease-in;

              & path {
                stroke: $w;
                fill: $main-green;
              }

              & rect {
                stroke: $w;
              }
            }
          }
        }
      }

      &-phone {
        a {
          @include tenor(18px, 100%, center, normal, uppercase, $main-brown);
          @include hover-color;

          @include to(575px) {
            font-size: 10px;
          }
        }

        @include to(575px) {
          order: 2;
        }
      }

      &-button {
        .button-phone {
          display: none;

          background: #2799C1;
          border-radius: 200px;
          height: 36px;
          width: 36px;

          svg {
            height: 14px;
            width: 14px;
            fill: $w;
          }
        }

        @include to(575px) {
          order: 1;

          .button-phone {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .text-2.text-hover {
            display: none;
          }
        }
      }

      .text-2 {
        @include HelveticaNeueCyr(10px, 140%, center, uppercase, $main-brown, 400);
        letter-spacing: 0.05em;
      }

      .text-hover {
        @include hover-color;
      }

      &-close {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        order: 3;

        &:hover {
          .menu-close {
            transform: scale(0.8);
            transition: transform .1s ease-in;

            @include to(992px) {
              transform: none;
            }
          }
        }

        .menu-close {
          width: 22px;
          height: 20px;

          background-image: url("../images/icons/menu-close.svg");
          transition: all .1s ease-in;

          &__line {
            display: none;
          }

          @include to(768px) {
            background: $main-green;
            box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.12);
            border-radius: 200px;
            height: 36px;
            width: 36px;
            position: relative;

            &__line {
              position: absolute;
              top: 50%;
              right: 50%;
              z-index: 20;

              display: flex;
              flex-direction: column;

              width: 16px;
              height: 2px;
              background: $w;

              &:first-child {
                transform: translate(50%, -50%) rotate(45deg);
              }
              &:last-child {
                transform: translate(50%, -50%) rotate(-45deg);
              }
            }
          }
        }

        .text-2 {
          margin-right: 20px;

          @include to(768px) {
            margin-right: 10px;
          }

          @include to(575px){
            display: none;
          }
        }
      }

      &-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;
      }
    }
  }

  &__section-wrapper {
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    position: relative;

    @include to(768px) {
      grid-template-columns: 60% 40%;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 30px;
    }

    @include to(425px) {
      grid-template-columns: 50% 50%;
      column-gap: 20px;
      grid-template-rows: 45%;
    }

    .menu__section {
      ul li {
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          @include HelveticaNeueCyr(14px, 170%, left, none, $main-brown, 300);
          @include hover-color;

          @include from(1600px) {
            font-size: 16px;
          }
        }
      }
    }

    .menu__block-pattern {
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
      width: 264px;
      height: 130px;

      @include from(1600px) {
        width: 494px;
        height: 244px;
      }

      @include to(425px) {
        width: 190px;
        height: 95px;
      }
    }
  }

  &__title {
    @include tenor(18px, 100%, left, 0.05em, uppercase, #000000);
    margin-bottom: 30px;

    @include from(1600px) {
      font-size: 36px;
    }

    @include to(425px) {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}


